*,
*::before,
*::after {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; /* Para garantir que ocupe toda a altura da tela */
  background: linear-gradient(to bottom, #993b3b 74%, aliceblue 0%);
}

html {
  background: aliceblue;
}

header {
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px 0;
}

header button {
  color: aliceblue;
  text-decoration: none;
}

header #logo {
  position: absolute;
  top: 75px; /* Distância do topo */
  left: 100px; /* Distância da esquerda */
  width: 400px; /* Largura do logo */
  height: auto; /* Manter a proporção do logo */
  z-index: 10; /* Certifique-se de que o logo esteja acima da imagem */
}

img {
  margin-bottom: -5%;
  max-width: 1100px;
  max-height: 400px;
  /*width: auto;
  height: auto;*/
}

nav {
  gap: 10%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  background-color: #5b0505;
  padding: 35px;
  /* border-radius: 50px; */
  margin: 54px;
  text-decoration: none;
}

nav.Menu li :hover {
  color: rgb(158, 47, 47);
}

nav.Menu {
  list-style-type: none;
}

nav.Menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

main {
  padding-top: 30px;
  max-width: 900px;
  margin: 0 auto 0 auto;
}

h2 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin-top: 2%;
  font-size: 25px;
  margin-bottom: 15px;
  background-color: #5b0505;
  padding: 35px;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: #5b0505;
  align-items: center;
  margin-right: 94px;
  margin-bottom: 4%;
}

#vn_vinhos {
  display: flex;
  gap: 30px;
  color: aliceblue;
}

#vn_vinhos div {
  background-color: #5b0505;
  padding: 20px 30px 20px 30px;
  border-radius: 15px;
  width: 100%;
}

div p {
  justify-content: center;
  color: #5b0505;
  margin: 1%;
  margin-bottom: 10%;
  text-align: justify;
  line-height: 1.5;
  margin-left: 21px;
}

div #texto {
  color: aliceblue;
}

.divina_home {
  width: 200px !important;
  height: 200px !important;
}

header #img_des {
  margin-top: -17%;
  padding: 80px 130px;
  height: 350px;
  width: 250px;
  display: inline-block; /* Para que a div se ajuste ao tamanho da imagem */
}

div#copyright p {
  color: aliceblue;
  display: flex;
  background: #993b3b;
  width: 98%;
  margin-left: 0%;
  padding: 1%;
}

/* Carrossel */

.carrossel {
  position: relative;
  width: 100%;
  max-width: 950px;
  left: 0%;
  margin-left: 0%;
  overflow: hidden;
  margin-bottom: -1%;
  padding: 0%;
  border-radius: 1%;
}

.carrossel-imagens {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-1%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

button.prev {
  left: 0%;
  margin-top: 32%;
  margin-left: 10%;
}

button.next {
  right: 0;
  margin-top: 32%;
  margin-right: 10%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

div.carrossel .carrossel-imagens img {
  width: 38%;
  margin-right: -2%;
}

div.carrossel .carrossel-imagens {
  width: 90%;
  gap: 2%;
  margin-left: 0%;
}

div.carrossel div.carrossel-imagens img.car_imagens {
  margin-left: -16%;
}

h3 {
  color: aliceblue;
  margin-top: 34%;
  z-index: 10;
  display: block;
  margin-left: -23%;
  margin-left: 6%;
  margin-top: 0%;
}
