*,
*::before,
*::after {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #993b3b; */
  height: 100vh; /* Para garantir que ocupe toda a altura da tela */
  background: linear-gradient(to bottom, #993b3b 28.1%, aliceblue 0%);
}

a body {
  margin: 0;
  padding: 0;
}

header {
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px 0;
}

header button {
  color: aliceblue;
  text-decoration: none;
}

header #logo {
  position: absolute;
  top: 54px; /* Distância do topo */
  left: 100px; /* Distância da esquerda */
  width: 400px; /* Largura do logo */
  height: auto; /* Manter a proporção do logo */
  z-index: 10; /* Certifique-se de que o logo esteja acima da imagem */
}

img {
  margin-bottom: -5%;
  max-width: 1100px;
  max-height: 350px;
  /*width: auto;
  height: auto;*/
  padding-top: 60px;
}

nav {
  gap: 10%;
  display: flex;
  font-size: 18px;
  justify-content: center;
  background-color: #5b0505;
  padding: 35px;
  /* border-radius: 50px; */
  margin: 60px;
  text-decoration: none;
}

nav.Menu li :hover {
  color: rgb(158, 47, 47);
}

nav.Menu {
  list-style-type: none;
}

nav.Menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

main {
  width: 900px;
  margin: 0 auto;
  padding: 12px;
}

h1 {
  margin: -210px;
  position: absolute;
  justify-content: center;
  left: 700px;
  color: rgb(130, 62, 62);
}

header #img_des {
  margin-top: -5%;
  padding: 80px 130px;
  height: 350px;
  width: 250px;
  display: inline-block; /* Para que a div se ajuste ao tamanho da imagem */
}

/* Estilo para o botão "Entrar" */
.entrar-btn {
  display: block;
  margin-top: -27%;
  margin-left: 88%;
  margin-bottom: 28%;
  padding: 12px 20px;
  background-color: #5b0505;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.entrar-btn:hover {
  background-color: #45a049;
}

/* Estilos para o menu de opções */
.opcoes-menu {
  width: 30%;
  position: absolute;
  margin-left: 65%;
  margin-top: -28%;
  display: block;
  justify-items: center;
  display: none;
  background-color: #fff;
  border: 2px solid #852424;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Estilo para o label */
.opcoes-menu label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  z-index: 10;
}

/* Estilo para os botões dentro do menu de opções */
.opcao-btn {
  display: grid;
  padding: 10px 20px;
  margin: 5px 0;
  width: 65%;
  background-color: #5b0505;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.opcao-btn:hover {
  background-color: #993b3b;
}

img#icon_google {
  padding: 2px;
  width: 6%;
  margin: 0 auto;
  background: white;
  border-radius: 10%;
  position: absolute;
  margin-top: -1%;
  margin-right: 86%;
}

p {
  color: white;
  background-color: #993b3b;
  margin-top: 0%;
  float: left;
  text-align: justify;
  font-size: 16px;
  padding: 10px 140px 10px 100px;
  width: 87%;
}

h2 {
  text-decoration: none;
  padding: 80px 80px 80px 80px;
  margin: 5%;
}

h2 a {
  color: rgb(144, 32, 32);
  margin: -5%;
  margin-left: -12.2%;
  margin-right: auto;
  display: block;
  margin-top: -25%;
  text-decoration: none;
  margin-bottom: 4%;
}

h2 #img_des {
  position: absolute;
  margin-left: -6.5%;
  margin-right: auto;
  height: 350px;
  width: 250px;
  padding: 10px;
  top: 0;
  margin-top: 46.7%;
  background-color: #993b3b;
  transition: all 0.5s ease-in-out;
}

h2 #img_des:hover {
  top: -10px;
  box-shadow: 0 4px 3px #993b3b;
}

h2 #img_des_2 {
  margin-left: 34%;
  margin-right: auto;
  display: block;
  height: 350px;
  width: 250px;
  position: relative;
  padding: 10px;
  top: 0;
  background-color: #993b3b;
  transition: all 0.5s ease-in-out;
}

h2 #img_des_2:hover {
  top: -10px;
  box-shadow: 0 4px 3px #993b3b;
}

h2 #img_des_3 {
  align-items: center;
  margin-left: 80%;
  margin-right: auto;
  display: flex;
  margin-top: -57%;
  height: 350px;
  width: 250px;
  position: relative;
  top: 0;
  padding: 10px;
  background-color: #993b3b;
  transition: all 0.5s ease-in-out;
}

h2 #img_des_3:hover {
  top: -4px;
  box-shadow: 0 4px 3px #993b3b;
}

section h3 {
  margin-top: -8%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  width: 93.2%;
  margin-left: 5%;
  margin-bottom: 1%;
  display: flex;
  background-color: #5b0505;
  padding: 15px;
}

section p {
  margin-left: 5%;
  width: 70%;
  margin-bottom: 0%;
}

div.redes_sociais {
  margin-top: 22%;
  gap: 10%;
  width: 69.4%;
  display: flex;
  margin-left: 16.5%;
  margin-bottom: 1%;
}

.redes_sociais a {
  color: white;
  text-decoration: none;
}

.redes_sociais a:hover {
  color: rgb(158, 47, 47);
}

div.outras_info {
  margin-left: 16.4%;
  width: 68.8%;
  margin-bottom: 1%;
}

footer .outras_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Espaçamento entre os itens */
  background-color: #5b0505;
  text-decoration: none;
  /* border-radius: 3%; */
  justify-content: space-evenly;
  padding: 20px;
}

footer .outras_info a {
  color: white;
  text-decoration: none;
}

footer div h2 {
  color: white;
}

div#copyright {
  font-size: 11px;
  margin-left: 16.2%;
  width: 72.6%;
  display: block;
  color: white;
  background-color: #5b0505;
}

div#copyright p {
  width: 72.3%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
}

div#copyright p#version {
  font-size: 10px;
  

}

p#footer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 16.2%;
  margin-top: 10px;
  width: 52.5%;
  background-color: #993b3b;
}

a.item:hover {
  color: #954646;
}

img#Icon_face {
  position: absolute;
  margin-left: -14%;
  margin-top: -4%;
  filter: drop-shadow(2px 2px rgb(99, 99, 240));
}

img#Icon_Instagram {
  position: absolute;
  margin-left: 18%;
  margin-top: -3.8%;
  filter: drop-shadow(2px 2px white);
}

img#Icon_twitter {
  margin-top: 1%;
  /* background-color: white; */
  position: absolute;
  margin-left: 50.5%;
  border-radius: 10%;
  padding: 0%;
  filter: drop-shadow(2px 2px white);
}

/* @media (max-width: 640px) {
  
  nav ul{
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 15px;
  }
  
} */

.redes_sociais {
  display: flex;
  margin-top: 30px;
  /*  border-radius: 30px; */
  display: flex;
  background-color: #5b0505;
  font-size: 16px;
  padding: 15px;
  justify-content: space-evenly;
}

.redes_sociais a {
  margin-top: 4%;
  color: white;
  text-decoration: none;
}

.redes_sociais a:hover {
  color: rgb(158, 47, 47);
}

/* Estilos básicos para o pop-up */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 40px;
  background-color: white;
  border: 4px solid #5b0505;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 10; /* certifique-se de que está acima de outros elementos */
}

#popup button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #8b0000;
  cursor: pointer;
}

#popup button:hover {
  background-color: #a52a2a;
}

label {
  display: flex;
}

#popup label {
  *,
  *::before,
  *::after {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  }
}



